/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 1440px;
  margin: 0 auto;
  padding: 100px clamp(0.125rem, -8.0176rem + 34.7418vw, 23.25rem);
  font-family: var(--main-fonts, Sans-serif);
  font-variation-settings: "wght" var(--main-fonts-weight);
  background-color: var(--background-color, #fff);
  color: var(--acent-color, #000);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--acent-fonts, Sans-serif);
  background-color: var(--background-color, #fff);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem)
    clamp(0.875rem, -1.4683rem + 9.9981vw, 7.53rem) 25px
    clamp(0.875rem, -1.4683rem + 9.9981vw, 7.53rem);
  border: 2px solid var(--acent-color, #000);
}

.header_logo {
  font-size: clamp(3.06rem, 2.7079rem + 1.5023vw, 4.06rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6796rem + 0.8338vw, 1.43rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-block-start: 5px;
  padding-inline-start: 16px;
  margin: 0;
}

.theme-menu__button {
  padding: 0;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  appearance: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 14px;
  transition: opacity 0.3s;
  letter-spacing: 0em;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button::before {
  content: "";
  block-size: 2px;
  inline-size: 0%;
  position: absolute;
  bottom: -3px;
  left: 0px;
  background-color: var(--acent-color, #fff);
  transition: inline-size 0.3s;
}

.theme-menu__button:focus-visible::before {
  inline-size: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled:after {
  content: "▶";
  position: absolute;
  left: -20px;
  bottom: 0;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--background-color, #fff);
}

.card__title {
  font-variation-settings: "wght" var(--title-fonts-weight);
  font-size: 18px;
  line-height: 22px;
  padding: 5px 50px 5px 10px;
  border: 2px solid var(--acent-color, #000);
}

.card__image {
  position: relative;
  overflow: hidden;
  block-size: /*clamp(23.437rem, 16.3726rem + 30.1416vw, 43.5rem)*/ clamp(
    23.187rem,
    16.0345rem + 30.5172vw,
    43.5rem
  );
}

.card__image-area {
  overflow: hidden;
  height: 100%;
  border-right: 2px solid var(--acent-color, #000);
  border-left: 2px solid var(--acent-color, #000);
}

.label__text {
  position: absolute;
  top: 25px;
  right: clamp(0.81rem, 0.5459rem + 1.1268vw, 1.56rem);
  font-family: var(--acent-fonts, Sans-serif);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--lable-stroke), 0 1px var(--lable-stroke),
    1px 0 var(--lable-stroke), 0 -1px var(--lable-stroke);
  z-index: 10;
}

@supports (
  (text-stroke: 1px var(--label-stroke)) or
    (-webkit-text-stroke: 1px var(--label-stroke))
) {
  .label__text {
    -webkit-text-stroke: 1px var(--lable-stroke);
    text-stroke: 1px var(--lable-stroke);
    text-shadow: none;
  }
}

.card__image-item {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-right: 2px solid var(--acent-color, #000);
  border-left: 2px solid var(--acent-color, #000);
  border-top: 2px solid var(--acent-color, #000);
}

.card__text-item {
  font-size: 18px;
  line-height: 21px;
}

.card__button-area {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-inline-end: 25px;
  padding-block-end: 25.5px;
  border-bottom: 2px solid var(--acent-color, #000);
  border-right: 2px solid var(--acent-color, #000);
  border-left: 2px solid var(--acent-color, #000);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding: 0;
  margin-inline-end: 1px;
}

.card__icon-button:focus {
  outline: none;
}

.like-icon {
  inline-size: 100%;
  block-size: 100%;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  position: relative;
  cursor: pointer;
  appearance: none;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--acent-color, #000);
  transition: box-shadow 0.3s;
  overflow: hidden;
  color: var(--mix-text-color, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--acent-color, #fff);
  top: 0px;
  right: 0px;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--acent-color, #000);
}

.button:hover::after {
  transform: translateX(0);
}

.button__text {
  position: relative;
  font-family: var(--acent-fonts, Sans-serif);
  font-size: 14px;
  font-weight: 400;
  line-height: 13px;
  z-index: 10;
  mix-blend-mode: difference;
}

.main__button-area {
  display: flex;
  justify-content: center;
}

.main__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}

.floppy-icon {
  mix-blend-mode: difference;
  z-index: 2;
}

.main__button-area .floppy-icon {
  width: 21px;
  height: 21px;
}

.dialog-area {
  background-color: var(--background-color, #fff);
  border: 2px solid var(--acent-color, #000);
  color: var(--mix-text-color, #000);
  padding: 30px;
  max-inline-size: 353px;
}

dialog::backdrop {
  background-color: black;
  opacity: 75%;
}

.dialog-area[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__text-area {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.dialog__floppy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__button {
  font-size: 14px;
  padding-block-end: 10px;
  padding-block-start: 10px;
}

.dialog__text-area .button__text {
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.dialog__button .button__text {
  text-transform: uppercase;
}

.filter__blur {
  filter: blur(0.2rem);
}

.filter__brightness {
  filter: brightness(200%);
}

.filter__contrast {
  filter: contrast(120%);
}

.filter__grayscale {
  filter: grayscale(0.8);
}

.filter__hue-rotate {
  filter: hue-rotate(90deg);
}

.filter__saturate {
  filter: saturate(150%);
}

.filter__sepia {
  filter: sepia(80%);
}

.filter__sepia-contrast {
  filter: sepia(20%) contrast(120%);
}

@media (width <= 376px) {
  .page {
    padding: 100px 0;
  }

  .main__button {
    flex-direction: column;
  }

  .floppy-icon-area {
    height: 28px;
    width: 28px;
  }

  .card__text-item {
    padding-inline-end: 2px;
  }

  .main__button-area .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .dialog-area {
    padding: 30px 42px 30px 42px;
  }
}
